<footer>
    <center>
        <a href="facebook.com">
            <img src="facebook.png">
        </a>
        <a href="instagram.com">
            <img src="instagram.png">
        </a>
        <a href="twitter.com"
            <img src="twitter.png">
        </a>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
</footer>